<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<meta http-equiv="Content-Security-Policy" content="default-src 'none'; script-src 'self' https://giscus.app; style-src 'self' https://fonts.googleapis.com https://giscus.app; img-src 'self' https://giscus.app; font-src 'self' https://fonts.gstatic.com https://giscus.app; connect-src 'self' https://giscus.app; media-src 'self' https://giscus.app; object-src 'self' https://giscus.app; child-src 'self' https://giscus.app; form-action 'none'; base-uri 'self'" />
<meta http-equiv="X-XSS-Protection"  content="1;mode=block" always>
<meta http-equiv="Referrer-Policy" content="no-referrer, strict-origin-when-cross-origin">

  {%- include head.html -%}

  <body>
    <div class="container">

      {%- include header.html -%}

    <main>
      {{ content }}
    </main>

    {%- include footer.html -%}

    </div>

    <script src="{{ '/assets/js/plugins.js' | relative_url }}"></script>
  </body>
</html>
